{% extends "base.html.twig" %}
{% block body %}
	<div class="container mt-5">
	<h2 class ="text-center mb-3">Notre collection salle de bain</h2>
		<div class="row ">
			{% for style in styles %}
				<div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
					<a href="{{ path('show', {'id': style.id}) }}">
						<img src="{{ vich_uploader_asset(style) }}" class="w-100 shadow-1-strong rounded mb-4" alt="{{ style.name}}"/>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
