{% extends "base.html.twig" %}

{% block body %}
<main class="container mb-4 mt-5">
    <h2 class="text-center text-dark fs-4">Envie de design dans votre salle de bain ? Le style moderne conviendra à vos attentes. Il apportera à votre pièce une touche de sérénité et de détente.</h2>
    <div class="row justify-content-center">
        <div class="">
            <div class="card mb-1 mt-5">
                <img class="card-img img-show" src="{{ vich_uploader_asset(style) }}" alt="{{ style.image}}">
            </div>
        </div>
	</div>
</main>
{% endblock %}
