{% extends "base.html.twig" %}

{% block body %}
<main class="container mb-4 mt-5">
    <h2 class="text-center text-dark fs-4">{{ style.description }}</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-1 mt-5">
                <img class="card-img img-show" src="{{ vich_uploader_asset(style) }}" alt="{{ style.image}}">
            </div>
        </div>
	</div>
</main>
{% endblock %}
