@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "secondNavbar.scss";
@import "footer.scss";

body {
    background-color: lightgray;
}

h1,
h2,
h3,
h4,
h5 {
    color      : $primary;
    font-family: $title-font;
}

p,
a {
    font-family: $text-font;
}