@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://www.dafontfree.net/embed/a2gtYmxhY2tsaW5lLXNjcmlwdC1tZWRpdW0mZGF0YS85Mi9rLzE2NzYyMy9LSC1CbGFja2xpbmUtU2NyaXB0LU1lZGl1bS50dGY');


$primary   : #25418A;
$success   : #00e0c7;
$light     : #fafafa;
$secondary : #f2f2f2;
$title-font : 'Open Sans',
sans-serif;
$text-font : 'Open Sans',
sans-serif;
$title-family:'kh-blackline-script-medium', sans-serif;