<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand me-5" href="#"><img
				src="https://upload.wikimedia.org/wikipedia/commons/1/1c/ManoMano_2018.png" alt="logo" alt="logo"
				width="150" height="50"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<form class="container-fluid me-5 ms-4">
				<div class="input-group">
					<input type="text" class="form-control rounded-pill" placeholder="Rechercher un produit"
						aria-label="Username" aria-describedby="basic-addon1">
				</div>
			</form>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle ms-5" href="#" id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Bonjour <br>
						Identifiez-vous
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar nav-text navbar-expand-lg bg-light text-primary">
	<div class="container-fluid">
		<div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Menu</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Soldes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Bons plans</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Meilleurs ventes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">perceuse, visseuse...</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Aménagement d'atelier</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Radiateur électrique</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Bibliothèque et étagère</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Suspension, lustre et accessoires</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Made in italy</a>
				</li>
			</ul>
		</div>
	</div>
</nav>