<nav class="navbar secondNavbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid d-flex flex-column">
		<h1 class ='homeTitle'>
			Des idées déco pour 
		</h1>
		<div class="categoryLinks d-none d-md-flex" id="navbarSupportedContent">
			<a class="nav-link" href="#">Salle de bains</a>
			<a class="nav-link" href="#">Cuisine</a>
			<a class="nav-link" href="#">Salon</a>
			<a class="nav-link" href="#">Chambre</a>
			<a class="nav-link" href="#">Bureau</a>
			<a class="nav-link" href="#">Terasse</a>
		</div>
		<select class="categoryLinks d-md-none" id="navbarSupportedContent">
			<option class="nav-link" value="#">Salle de bains</option>
			<option class="nav-link" value="#">Cuisine</option>
			<option class="nav-link" value="#">Salon</option>
			<option class="nav-link" value="#">Chambre</option>
			<option class="nav-link" value="#">Bureau</option>
			<option class="nav-link" value="#">Terasse</option>
		</select>
	</div>
</nav>
